<h1>{{container}}</h1>
<li>Started at <a href="{% url 'job_logs:position_detail' container.starting_pos.id %}">{{container.starting_pos}}</a></li>
<li>Currently at <a href="{% url 'job_logs:position_detail' container.current_pos.id %}">{{container.current_pos}}</a></li>
<li>Lidded: {{container.lidded}}</li>
<li>Lid position: {{container.lid_pos}}</li>
<li>Removed from platform: {{container.removed}}</li>
