{% if list %}
    <ul>
    {% for elem in list %}
        <li><a href="{% url 'job_logs:device_detail' elem.id %}">{{ elem }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Device in database.</p>
{% endif %}