
<li><a href="{% url 'job_logs:devices' %}">Device List</a></li>
<li><a href="{% url 'job_logs:movement_finder' %}">Movement Finder</a></li>
<li><a href="{% url 'job_logs:present_labware' %}">Present Labware</a></li>
