{% if list %}
    <ul>
    {% for elem in list %}
        <a href="{% url 'job_logs:device_detail' elem.id %}">============ {{ elem }} ==============</a>
        <br>
        {% for pos in elem.position_set.all%}
            {% for cont in pos.container_set.all%}
                {% if not cont.removed %}
                    <li><a href="{% url 'job_logs:container_detail' cont.id %}">{{ cont }}</a> at {{pos}}</li>
                {% endif %}
            {% endfor %}
            {% for cont in pos.lid_pos.all%}
                {% if not cont.removed %}
                    <li>Lid of <a href="{% url 'job_logs:container_detail' cont.id %}">{{ cont }}</a> at {{pos}}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>No labware in database.</p>
{% endif %}
