<h1>{{ position }}</h1>
<li><a href="{% url 'job_logs:device_detail' position.device.id %}">{{ position.device }}</a></li>
<p>present containers:</p>
{% if position.container_set.all %}
    <ul>
    {% for container in position.container_set.all %}
        <li><a href="{% url 'job_logs:container_detail' container.id %}">{{container}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Position is empty.</p>
{% endif %}